body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration-color: black;

    
}

ul > li {
    list-style-type: none;
}

button:hover {
    color: red;
  }
